.animation-settings
{
    width       : 100%;
    position    : relative;

    .setting
    {
        width           : 100%;
        padding         : 5px;
        box-sizing      : border-box;
    }

}